.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}

html{
	background-image: url("../Imagem/programacao.jpg");
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 auto;

	margin-top: 20%;
	
}

h1 {

	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
}

p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
}

a{
	color: white;
}

body {
	font-family: monospace;
	color: #333;
}

.card {
	border-radius: 5px;
	box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
	padding: 30px;
	margin: 20px;
	width: 400px;
	transition: all 0.3s ease-out;
}

.blue {
	border-left: 3px solid #4895ff;
}
 
.green {
	border-left: 3px solid #3bb54a;
}
 
.red {
	border-left: 3px solid #b3404a;
}

.yellow{
	border-left: 3px solid #e4ff48;
}

.purple{
	border-left: 3px solid #8a1bd4;
}
